/* Variables */

$color-pimary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-bis: #008766;

$primary-background: #F6F6F6;
$secondary-background: #EAEAEA;

/* Main */

* {
    font-family: 'Roboto';
}

main {
    position: relative;
}

body {
    width: 100%;
    max-width: 1440px;
    min-width: 375px;
    margin: auto;
}

.button {
    color: #ffffff;
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background: linear-gradient($color-secondary, $color-pimary);
    font-size: 1em;
    font-weight: 500;
    position: relative;
    z-index: 1;
    &--clickable {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    &:hover{
        &::after {
            opacity: 0.15;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #ffffff;
        opacity: 0;
        z-index: -1;

    }
}

.heart-checkbox {
    .square {
        display: none;
     }
    & input [type="checkbox"] {
        display: none;
    }
    & .checked {
        display: none;
        background: linear-gradient($color-pimary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    & input[type="checkbox"] {
        &:checked~.checked {
        display: inline;
        }
        &:checked~.unchecked {
            display: none;
        }
    }
}








/** Header **/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    gap: 10px;
    position: relative;
    img {
        width: 162px;
        height: 27,7px;
        @media (min-width: 768px) {
            width: 200px;
            height: 34.2px;
        }
    }
}
.back-to-index {
    position: absolute;
    top: 65/2 px;
    left : 20px;
    a {
        color: #000;
    }
}
/* Location */

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: $secondary-background;
    i {
        display: block;
        padding: 0 15px;
    }
}


/* Reservations */

.menu-reservation {
    display: flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;
    background-color: $primary-background;
    padding-bottom: 50px;
    h1 {
        font-size: 1.5em;
        margin-top: 50px;
    }
    > p{
        font-size: 1.125em;
        font-weight: 300;
        margin-bottom: 50px;
    }
}




/* Restaurants */ 

.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: cen;
    background-color: $primary-background;
    position: relative;
    padding: 30px 0 0 0;

    h2 {
        font-size: 1.5em;
        font-weight: 700;
        position: relative;
        right: 110px;
        margin-bottom: 25px;
        @media (min-width: 768px) {
            right: 465px;
        }
        @media (min-width: 768px) and (max-width: 1025px) {
            right: 315px;
        }
    }
    &_line-1 {
        display: flex;
        flex-direction: column;
        @media (min-width: 768px)  {
            flex-direction: row;
            gap: 80px;
            margin-bottom: 30px;
        } 
        

    }
    &_line-2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        @media (min-width: 768px)  {
            flex-direction: row;
            gap: 80px;
            margin-bottom: 30px;
        } 
    }
    &-card {
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        width: 340px;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;
        @media (min-width: 1025px) {
            width: 490px;
        }
        /*.clicked {
            color: transparent;
            &:active {
                background-image: linear-gradient($color-pimary, $color-secondary);
                background-clip: text;
                color: transparent;
            }
        }*/
        & .new {
            position: absolute;
            top: 5px;
            right: 15px;
            background-color: $color-tertiary;
            color: $color-tertiary-bis;
            padding: 6px 9px;
            font-size: 0.875em;
            font-weight: 500;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
        }
        &_img {
                width: 100%;
                height: 175px;
                overflow: hidden;
                img {
                    width: 100%;
                    object-position: 0 -50px;
                    @media (min-width: 1025px) {
                        object-position: 0 -100px;
                    }
                }    
        }
        #lanoteenchantee {
            object-position: 0 -150px;
            @media (min-width: 1025px) {
                object-position: 0 -240px;
            }
        }
        &_text {
                display: flex;
                margin-left: 15px;
                height: 77px;
                background-color: linear-gradient();
                align-items: center;
                position: relative;
                bottom: -5px;

                h3 {
                    font-size: 1.125em;
                    font-weight: 700;
                   
                }
                p {
                    font-size: 17px;
                    font-weight: 300;
                    position: relative;
                    bottom: 14px;
                    
                }
                i {
                    position: absolute;
                    font-size: 22px;
                    bottom: 33px;
                    right: 25px;
                    z-index: 1;
                    
                }
                &_logo {
                    background-color: #ffffff;
                }
        }
        &--clickable {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 0;
            
        }
    }
}




/* functioning */

.functioning {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 30px 0;
    &-choice {
        display: flex;
        flex-direction: column;
        
        @media (min-width: 1025px) {
            flex-direction: row;
            gap: 40px;
        }
    }
    

    h2 {
        font-size: 1.5em;
        font-weight: 700;
        position: relative;
        right: 80px;
        margin-bottom: 25px;
        @media (min-width: 1025px) {
            right: 445px;
        }
    }
    &-card {
        background-color: $primary-background;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 25px;
        position: relative;
        width: 322px;
        height: 72px;
        margin-bottom: 20px;
        &_number{
            display: inline-block;
            text-align: center;
            line-height: 24px;
            width: 24px;
            height: 24px;
            border-radius: 12px;
            background-color: $color-pimary;
            color: #ffffff;
            font-size: 0.875em;
            font-weight: 500;
            position: absolute;
            left:-12px;

        }
        &_icon {
            color: darken($secondary-background,45);
            &--selected {
                color: $color-pimary;
            }
        }
    }
}

/* footer */

.footer {
    background-color: darken($secondary-background, 70);
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 30px;
    &--shift {
        position: relative;
        top:-60px;
        @media (min-width: 768px) and (max-width:1025px){
            top: -90px;
        }
    }
    
    width: 100%;
    @media (min-width: 1025px) {
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 90px;
        padding: 50px 50px 25px 0;
    }
        a {
            text-decoration: none;
            color: #ffffff;
        }
        &_logo{
            width: 138px;
            height: 27px;
            @media (min-width: 1025px) {
                position: relative;
                top: -3px;
            }

        }
        &-links {
            display: flex;
            flex-direction: column;
            gap: 15px;
            @media (min-width: 1025px) {
                flex-direction: row;
                
            }
            &_block1 {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 15px;
                p {
                    margin: 0;
                }
                @media (min-width: 1025px) {
                    flex-direction: row;
                    
                }
            }
            &_block2 {
                display: flex;
                flex-direction: column;
                gap: 15px;
                @media (min-width: 1025px) {
                    flex-direction: row;
                    align-items: center;
                }
            }
        
        }
    }




    /***************** pages  ****************/

.background {
    overflow: hidden;
   
    @media (min-width: 768px) and (max-width:1025px){
        height: 350px;
    }
    @media (min-width: 1025px) {
        height: 400px;    
    }
    &_img {
        width: 100%;
        @media (min-width: 768px) and (max-width:1025px) {
            object-position: 0 -230px;
        }
        @media (min-width: 1025px) {
            object-position: 0 -330px;
        }
    }
}



.menu {
    display: flex;
    flex-direction: column;
    position: relative;
    top:-60px;
   
    @media (min-width: 768px) and (max-width:1025px){
        top: -90px;
    }
    width: 100%;
    &-card {    
        background-color: $primary-background;  
        border-radius: 40px 40px 0px 0px;  
        position: relative;
        align-items: center;
        justify-content: center;       
        max-width: 1055px;
        width: 100%;
        margin: auto;
        &_btn {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }
        &_title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            h2 {
                font-family: 'Shrikhand';
                font-size: 1.75em;
                font-weight: 400;
            }
            i {
                font-size: 22px;
            }
        }
        &-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin: 0 15px 40px 15px;
            position: relative;
            &_title {
                position: relative;
                width: 100%;
                max-width: 635px;
                height: 30px;
                line-height: 0px;
                font-size: 1em;
                font-weight: 300;
                text-transform: uppercase;
            }
            &_dividing {
                background: $color-tertiary;
                width: 40px;
                height: 5px;
                position: absolute;
                top: 100%;
                bottom: 0%;
                left: 0%;
            }
            &_item {
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
                max-width: 635px;
                height: 70px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                border-radius: 15px;
                background: #ffffff;
                div {
                    display: flex;
                    flex-direction: column;
                }
                div p {
                    position: absolute;
                    bottom: -5px;
                    left: 15px;
                    font-size: 0.9375em;
                    font-weight: 300;
                }
                & .price {
                    position: relative;
                    top: 28px;   
                    right: 15px;             
                    font-weight: 700;
                    font-size: 0.9375em;

                }  
                h3 {
                    position: absolute;
                    left: 15px;
                    top: -5px;
                    font-size: 1.125em;
                    font-weight: 500;
                } 
            }
        }
    }
    
}

