/* Variables */
/* Main */
* {
  font-family: "Roboto";
}

body {
  width: 100%;
  max-width: 1440px;
}

/** Header **/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  gap: 10px;
  position: relative;
}
header img {
  width: 200px;
  height: 34.2px;
}

.back-to-index {
  position: absolute;
  top: 65/2 px;
  left: 10px;
}
.back-to-index a {
  color: #000;
}

/* Location */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
}
.location i {
  display: block;
  padding: 0 15px;
}

/* Reservations */
.menu-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
.menu-reservation h1 {
  font-size: 1.5em;
  margin-top: 50px;
}
.menu-reservation > p {
  font-size: 1.125em;
  font-weight: 300;
  margin-bottom: 50px;
}
.menu-reservation .button {
  color: #ffffff;
  width: 220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 1em;
  font-weight: 500;
  position: relative;
  z-index: 1;
}
.menu-reservation .button--clickable {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.menu-reservation .button:hover::after {
  opacity: 0.15;
}
.menu-reservation .button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0;
  z-index: -1;
}

/* Restaurants */
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  position: relative;
}
.restaurants h2 {
  font-size: 1.5em;
  font-weight: 700;
  position: relative;
  right: 110px;
  margin-bottom: 25px;
}
.restaurants-card {
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 340px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  /*.clicked {
      color: transparent;
      &:active {
          background-image: linear-gradient($color-pimary, $color-secondary);
          background-clip: text;
          color: transparent;
      }
  }*/
}
.restaurants-card_img {
  width: 100%;
  height: 175px;
  overflow: hidden;
  position: relative;
}
.restaurants-card_img img {
  width: 100%;
  position: relative;
  top: -50px;
}
.restaurants-card_text {
  display: flex;
  margin-left: 15px;
  height: 77px;
  background-color: linear-gradient();
  align-items: center;
  position: relative;
  bottom: -5px;
}
.restaurants-card_text h3 {
  font-size: 1.125em;
  font-weight: 700;
}
.restaurants-card_text p {
  font-size: 17px;
  font-weight: 300;
  position: relative;
  bottom: 14px;
}
.restaurants-card_text i {
  position: absolute;
  font-size: 22px;
  bottom: 33px;
  right: 25px;
  z-index: 1;
}
.restaurants-card_text_logo {
  background-color: #ffffff;
}
.restaurants-card--clickable {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.new {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: #99E2D0;
  color: #008766;
  padding: 6px 9px;
  font-size: 0.875em;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

/* functioning */
.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.functioning h2 {
  font-size: 1.5em;
  font-weight: 700;
  position: relative;
  right: 85px;
  margin-bottom: 25px;
}
.functioning-card {
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
  width: 322px;
  height: 72px;
  margin-bottom: 20px;
}
.functioning-card_number {
  display: inline-block;
  text-align: center;
  line-height: 24px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #9356DC;
  color: #ffffff;
  font-size: 0.875em;
  font-weight: 500;
  position: absolute;
  left: -12px;
}
.functioning-card_icon {
  color: #777777;
}
.functioning-card_icon--selected {
  color: #9356DC;
}

/* footer */
.footer {
  background-color: #383838;
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 10px;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer_logo {
  width: 138px;
  height: 27px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px .footer-links _block1;
  gap-display: flex;
  gap-flex-direction: column;
}
.footer-links_block2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/***************** pages  ****************/
.background-restaurant {
  width: 100%;
  height: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
}
.background-restaurant img {
  width: 100px;
  height: 100px;
}

/*# sourceMappingURL=styles.css.map */
